multipart/form-data PATCH request produces http-request snippet with no request body

When documenting a multipart/form-data request using PATCH method, we end up with only headers in http-request snippet.
It looks like switch to multipart is only handled for PUT/POST (org.springframework.restdocs.http.HttpRequestSnippet#getRequestBody). Is there any reason for this? I didn't find any restriction about multipart and PATCH in https://datatracker.ietf.org/doc/html/rfc5789
Anyway, the restriction on PUT/POST looks like a little excessive, if body content is empty but we've parts, it's likely that we want those parts to be included in the generated snippet.

Media type `multipart/form-data` is only defined for the `POST` method as per [RFC 2616](https://datatracker.ietf.org/doc/html/rfc2616#section-3.7):

> Note: The "multipart/form-data" type has been specifically defined for carrying form data suitable for processing via the POST request method, as described in [RFC 1867](https://datatracker.ietf.org/doc/html/rfc1867) [[15](https://datatracker.ietf.org/doc/html/rfc2616#ref-15)]

Which is clarified by errata [RFC 5789](https://www.rfc-editor.org/errata/eid3169):

> the operation does not modify the resource identified by the Request-URI in a predictable way that's defined by the semantics of the PATCH media type, POST should be considered instead of PATCH or PUT.

That's why MDN web docs says `PATCH` shouldn't be used for binary data, as stated by [this answer](https://stackoverflow.com/questions/75634919/patch-request-is-not-working-multipart-form-data/75634945#75634945):

> `PATCH` is not for uploading binary data (like what you want with the image), see: https://developer.mozilla.org/en-US/docs/web/http/methods/patch (Allowed in HTML Forms: No)

This issue should be closed in my opinion.

1 - Well "specifically designed", doesn't mean "restricted to", I don't see any normative content in the norm (no "SHOULD/MUST not be used with other HTTP methods" or so). Moreover `HttpRequestSnippet` already handles parts for PUT requests

2 - Don't see how multipart/form-data implies that the resource isn't modified in a predictable way

3 - The answer you quote finishes by
> Uploading binary data (like images) has to be done with POST always, PUT or PATCH are used to modify the attributes of the ressource.
Don't see why a resource cannot embed binary data. Moreover, MDN isn't a normative document


I agree, @beuss. I see no reason to close this issue.